/target

container/target/release
container/target/x86_64-unknown-linux-musl
container/target/.rustc_info.json
infra/.terraform/providers/registry.terraform.io/hashicorp/aws/5.20.0/linux_amd64
infra/.terraform.lock.hcl
infra/.terraform.tfstate.lock.info
infra/terraform.tfstate
infra/terraform.tfstate.backup
grpcurl
container/token.txt
infra/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.1/linux_amd64
infra/sinnergy-sources.zip
sinnergy-sources.zip
Cargo.lock
keys/ca.key
keys/ca.srl
keys/server.crt
keys/server.csr
keys/server.key
keys/server.pem
keys/server_req.conf
container/keys/
# keys/token.txt